<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieDB</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>

  @!component('header')
  <main>

    <ul>

      @each (movie in movies)
      <a href="/movie/{{movie.id}}">
      <li>
        <p>{{movie.title}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.release}}</p>
      </li>
    </a>
      @end

    </ul>

    </div>
  </main>
</body>

</html>