@layout('layouts/main')
@set('title', 'MovieDB - Filmes')

@section('body')
<div>
  <ul>

    @each (movie in movies)
    <a href="/movie/{{movie.id}}">
      <li>
        <h3>{{movie.title}}</h3>
        <p> {{truncate(movie.description, 120)}} </p>
        <!--<p>{{movie.release}}</p> -->
      </li>
    </a>
    @end

  </ul>

</div>

@end