@layout('layouts/main')
@set('title', 'MovieDB')

@section('body')

    <ul>

      <li>
        <p>{{movie.title}}</p>
        <p>{{movie.description}}</p>
        <p>{{formattedDate}}</p>
      </li>

    </ul>

    </div>

@end