@layout('layouts/main')
@set('title', 'MovieDB')

@section('body')

  <div>
    <h1 class="title">Welcome to MovieDB,</h1>
    <p class="subtitle">
      an experimental movie database!
    </p>

    <ul>
      <li>
        <a href="/movie">
          Click here to list all movies.
        </a>
      </li>
    </ul>
  </div>
  
@end