<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieDB</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>

  @!header()
  <main>

    <div>
      <h1 class="title">Welcome to MovieDB,</h1>
      <p class="subtitle">
        an experimental movie database!
      </p>

      <ul>
        <li>
          <a href="/movie">
            Click here to list all movies.
          </a>
        </li>
      </ul>
    </div>
  </main>
</body>

</html>